<ul>
{{#each favoriteQuestions.questions as |question|}}
  <li class="favoriteQuestionsBox">{{#link-to 'question' question.id}}<span class="fontStyles">{{question.user}} asks: {{question.questionText}}</span>{{/link-to}}</li>
{{/each}}
</ul>
