<h1> Welcome To The Answer Board</h1>

<ul class="questionList">
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
